# Write CSV File

In [11]:
n = [0] * 12
for i in range(1,13):
    n[i-1] = i *12
outfile = open("Multiples of 12", "w")
for j in range(0, len(n)):
    outfile.write(str(j+1) + ',' + str(n[j]))
    # +1 to j since the array starts at 0 and we start counting at 1
    outfile.write('\n')
outfile.close()

In [8]:
olympians = [("John Aalberg", 31, "Cross Country Skiing"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]
outfile = open("reduced_olympics.csv", "w")
# output the header now
#header_row = 'Name, age, Sport'
outfile.write('Name, age, Sport')
outfile.write('\n')
#output for each row
for olympics in olympians:
    rows= '{},{},{}'.format(olympics[0],olympics[1],olympics[2])
    outfile.write(rows)
    outfile.write('\n')
outfile.close()

In [10]:
olympians = [("John Aalberg", 31, "Cross Country Skiing, 15KM"),
             ("Minna Maarit Aalto", 30, "Sailing"),
             ("Win Valdemar Aaltonen", 54, "Art Competitions"),
             ("Wakako Abe", 18, "Cycling")]

outfile = open("reduced_olympics2.csv", "w")
# output the header row
outfile.write('"Name","Age","Sport"')
outfile.write('\n')
# output each of the rows:
for olympian in olympians:
    row_string = ' "{}", "{}", "{}" '.format(olympian[0], olympian[1], olympian[2])
    outfile.write(row_string)
    outfile.write('\n')
outfile.close()