In [1]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
# or equivalently
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"
print(julia[4])

2009

# Below, we have provided a list of tuples. Write a for loop that saves the second element of each tuple into a list called seconds.

In [2]:
tups = [('a', 'b', 'c'), (8, 7, 6, 5), ('blue', 'green', 'yellow', 'orange', 'red'), 
        (5.6, 9.99, 2.5, 8.2), ('squirrel', 'chipmunk')]

seconds = []  # Initialize an empty list

for tup in tups:
    if len(tup) > 1:  # Ensure the tuple has at least two elements
        seconds.append(tup[1])  # Append the second element

print(seconds)

['b', 7, 'green', 9.99, 'chipmunk']

Tuples as Return Values

In [3]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c, a)

print(circleInfo(10))

(62.8318, 314.159)

# Tuple Assignment with Unpacking

In [7]:
julia = "Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia"

name, surname, birth_year, movie, movie_year, profession, birth_place = julia
print(name, movie, profession)

Julia Duplicity Actress

In [ ]:
(a, b, c, d) = (1, 2, 3,5) # ValueError: need more than 3 values to unpack

# Swapping Values between Variables

In [8]:
a = 1
b = 2
temp = a
a = b
b = temp
print(a, b, temp)

2 1 1

In [9]:
a = 1
b = 2
(a, b) = (b, a)
print(a, b)

2 1

In [10]:
authors = [('Paul', 'Resnick'), ('Brad', 'Miller'), ('Lauren', 'Murphy')]
for first_name, last_name in authors:
    print("first name:", first_name, "last name:", last_name)

first name: Paul last name: Resnick
first name: Brad last name: Miller
first name: Lauren last name: Murphy

# Unpacking Tuples as Arguments to Function Calls

In [11]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
print(z) # this line causes an error

7
(5, 4)

In [ ]:
def add(x, y):
    return x + y

print(add(3, 4))
z = (5, 4)
print(add(*z)) # this line will cause the values to be unpacked